@import url("styles/header.css");
@import url("styles/sobre.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --cor-de-fundo: #FFFFFF;
    --vinho: #8E2424;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}