@import url("styles/nav.css");
@import url("styles/sobre.css");
@import url("styles/metricas.css");
@import url("styles/talentos.css");
@import url("styles/vagas.css");
@import url("styles/depoimentos.css");
@import url("styles/footer.css");

:root {
  --text-color: #667085;
  --main-color: #8e2424;
  --title-color: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
