.cabecalho {
  background-color: var(--cor-de-fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.opcoes {
  display: flex;
  padding: 0 10em 0 0;
}

.opcoes__item {
  padding: 2em 1em;
  font-weight: 500;
  color: var(--cinza-claro);
}

.container__imagem {
  padding: 1em;
  margin-left: 4em;
}

.container__link {
    padding: 1em;
    margin-left: 1em;
    text-decoration: none;
}

.container__titulo {
    font-size: 18px;
    font-weight: 500;
}

.container__botao {
    margin-right: 4em;
    text-decoration: none;
    background-color: var(--vinho);
    color: var(--cor-de-fundo);
    padding: 1em 1.5em;
    border-radius: 8px;
}